<%= form_tag method: 'post' do %>
    <p>
      <label for="name">Name</label>
      <input type="text" name="name" id="name"/>
    </p>
    <p>
      <label for="pass">Pass</label>
      <input type="password" name="pass" id="pass"/>
    </p>
    <p>
      <input type="submit" value="Submit"/>
    </p>
<% end %>

<% unless flash['auth_error'].nil? %>
    <div class="error" style="color: red;">
      <%= flash['auth_error'] %>
    </div>
<% end %>