<% if user_provider.user_logged_in? %>
    <h1>
      Hello <%= user_provider.user_name %>
    </h1>
<% end %>

<div ng-controller="mainCtrl">

  <p>
    Имя: {{mySelf.name}}
  </p>
  <p>
    День рождения: {{mySelf.date_birth | format_date:"DD.MM.YYYY"}}
  </p>
  <p>
    Город: {{mySelf.city}}
  </p>
  <p>
    Phone: {{mySelf.phone}}
  </p>
  <p>
    Email: {{mySelf.email}}
  </p>
  <p>
    VK: <a href="{{mySelf.vk}}">{{mySelf.vk}}</a>
  </p>
  <p>
    Технологии:
      <ul>
        <li ng-repeat="tech in mySelf.technologies">{{tech}}</li>
      </ul>
  </p>
  <p>
    Интересы:
      <ul>
        <li ng-repeat="interest in mySelf.interests">{{interest}}</li>
      </ul>
  </p>
  <p>
    Учеба:
      <ul>
        <li ng-repeat="study in mySelf.studies">
          С {{study.from | format_date:"YYYY"}} по {{study.to | format_date:"YYYY"}}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {{study.desc}}
        </li>
      </ul>
  </p>
  <p>
    Учеба:
      <ul>
        <li ng-repeat="work in mySelf.works">
          С {{work.from | format_date:"MMMM YYYY"}} по {{work.to | format_date:"MMMM YYYY"}}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Компания: {{work.name}}. Должность: {{work.profession}}. Обязаности: {{work.occupation}}
        </li>
      </ul>
  </p>



</div>