$input-padding: 6px 12px;

.btn {
  display: inline-block;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: $input-padding;
  cursor: pointer;
}
.btn:hover {
  background: #ddd;
}

form {
  .form-row {
    margin-bottom: 5px;
  }
}

input[type="text"],
input[type="password"],
textarea {
  padding: $input-padding;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: box-shadow ease-in-out .15s;
  color: #555;
}

textarea:focus,
input:focus {
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}